* {
    border: 1px solid black;
    text-align: center;
}

#game {
    display: flex;
    height: 400px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.choice {
    font-size: 30px;
}