*{
    border:1px solid black;
}

header {
    text-align: center;
}

#container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mole{
    height: 100px;
    flex-grow: 1;
}

.mole-appear {
    background-color: black;
}